<div class="main">
  <%#= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

  <ul class="choose-list-pro">
    <% if user_signed_in? && current_user.id == @user.id %>
      <li>
        <%= link_to edit_user_registration_path, class: "edit-pro", method: :get do%>
          <div class="fas fa-user-edit user-edit-btn"></div>
        <% end %>
      </li>
    <% end %>
        <li>
      <%= link_to new_post_path, class: "edit-show", method: :get do%>
        <div class="fas fa-comment new-post-btn"></div>
      <% end %>
    </li>
  </ul>

  <p class="user-post-show">【ユーザー名】</p>
  <div class="user-name-pro">
      <p><%= @user.name %></p>
  </div>

  <div class="user-profile-pro">
    <%#= @user.profile %>
  </div>

  <p class="user-post-show">【<%= @user.name %>さんの投稿一覧】</p>
    <%# @posts.each do |post| %>
      <p><%#= post.text %></p>
    <%# end %>

  <% @posts.each do |post| %>
    <div class="post">
      <span class="post-user-name">
        <%= post.user.name %>
        <div class="post-date">
          Posted date：<%= post.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="post-content">
          <%= raw Rinku.auto_link(simple_format(post.text), :all, 'target="_blank"') %>
          <%# <%= post.text %>
        </div>

        <ul class="choose-list">
        <span class="heart-count">
          <%= post.likes.count %>
        </span>
          <% if current_user.already_liked?(post) %>
          <li>
            <%= link_to post_likes_path(post), method: :delete do %>
              <div class="fas fa-heart heart"></div>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(post), method: :post do %>
              <div class="far fa-heart heart2"></div>
            <% end %>
          <% end %>
            </li>
          <% if user_signed_in? && current_user.id == post.user_id %>
          <li>
              <%# <%= link_to image_tag("edit.png", class: "edit-btn"), edit_post_path(post.id) %>
              <%= link_to edit_post_path(post.id), class: "ed", method: :get do%>
                <div class="far fa-edit edit-btn"></div>
              <% end %>
            </li>
            <li>
              <%# <%= link_to image_tag("destroy.png", class: "destroy-btn"), post_path(post.id), method: :delete, data: {confirm: '削除しますか？'} %>
              <%= link_to post_path(post.id), class: "de", method: :delete, data: {confirm: '削除しますか？'} do%>
                <div class="far fa-trash-alt destroy-btn"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
    </div>
  <% end %>
</div>