<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>smart_class</title>
    <%# <%= link_to image_tag("title_font.png", class: "title-btn"), root_path %>
  </head>

  <body>
    <div class="main">
      <div class='title-contents'>
        <h2 class='service-title'>
          <span class="font-big">考える力</span>ぐんぐん伸びる!?
        </h2>
        <%# <p class='service-explain'>
          気軽にクイズにチャレンジ!!!
        </p>
        <p class='service-explain'>
          プリントDL無制限!!!
        </p> %>
      </div>

      <p class="news">
        news 新規サイトOPEN! -2021.08.21
      </p>

      <div class="three-features">
        <!-- <p class="news">
          news 新規サイトOPEN! -2021.08.21
        </p> -->
        <ul class="feature-lists">
          <li class="list">
            <%= link_to image_tag("3315601_s.jpg", class:"list-pict") %>
          </li>
          <!-- <h3 class="feature-list-text">考える</h3> -->
        <!-- </ul> -->
        <!-- <ul class="feature-lists"> -->
          <li class="list">
            <%= link_to image_tag("4170205_s.jpg", class:"list-pict") %>
          </li>
          <!-- <h3 class="feature-list-text">復習する</h3> -->
        <!-- </ul> -->
        <!-- <ul class="feature-lists"> -->
          <li class="list">
            <%= link_to image_tag("2550975_s.jpg", class:"list-pict") %>
          </li>
          <!-- <h3 class="feature-list-text">わかる！</h3> -->
        <!-- </ul> -->
        </ul>
        <ul class="three-feature-texts">
          <li><h3 class="feature-list-text">考える</h3></li>
          <li><h3 class="feature-list-text">復習する</h3></li>
          <li><h3 class="feature-list-text">わかる！</h3></li>
        </ul>
      </div>

      <div class="contents">CONTENTS
      </div>

      <div class="service-contents">
        <h3 class="quiz">選択クイズ</h3>
        <ul class="quiz-lists">
          <li>
            <a class="quiz-list" href="/Users/satorutooyama/original/smart_class/app/javascript/quiz_test.html">クイズ①</a>
            <%= link_to 'クイズです', quiz_posts_path %>
          </li>
          <li>
            <a class="quiz-list" href="#">クイズ②</a>
          </li>
        </ul>
        
        <h3 class="print">プリントダウンロード</h3>
        <ul class="print-lists">
          <li>
            <%# <a class="print-list" href="#">きまりの問題</a> %>
            <%= link_to '次にくるのはなんだ？', '/regularity1.pdf', class: "print-list", target: :_blank %>
          </li>
          <li>
            <%# <a class="print-list" href="#">同じ重さにしよう</a> %>
            <%= link_to 'やさいもんだい', '/same_game1.pdf', class: "print-list", target: :_blank %>
          </li>
          <li>
            <%# <a class="print-list" href="#">同じ重さにしよう</a> %>
            <%= link_to 'シーソーもんだい', '/seesaw1.pdf', class: "print-list",target: :_blank %>
          </li>
        </ul>
        <h3 class="information-ex">教育情報POST</h3>
            <% if user_signed_in? %>
              <%= link_to "新規投稿ページへ", new_post_path, class: "post-page" %>
            <% else %>
              <%= link_to "ログインしてください", new_user_session_path, class: "post-page" %>
            <% end %>
      </div>