
  <body>
    <div class="main">
      <div class='title-contents'>
        <h2 class='service-title'>
          <span class="font-big">考える力</span>ぐんぐん伸びる!?
        </h2>
        <%# <p class='service-explain'>
          気軽にクイズにチャレンジ!!!
        </p>
        <p class='service-explain'>
          プリントDL無制限!!!
        </p> %>
      </div>

      <p class="news">
        news 新規サイトOPEN! -2021.09.10
      </p>

      <div class="three-features">
        <!-- <p class="news">
          news 新規サイトOPEN! -2021.08.21
        </p> -->
        <ul class="feature-lists">
          <li class="list">
            <%= link_to image_tag("3315601_s.jpg", class:"list-pict") %>
            <h3 class="feature-list-text">ひらめき</h3>
          </li>
          <!-- <h3 class="feature-list-text">考える</h3> -->
        <!-- </ul> -->
        <!-- <ul class="feature-lists"> -->
          <li class="list">
            <%= link_to image_tag("4170205_s.jpg", class:"list-pict") %>
            <h3 class="feature-list-text">じっくり</h3>
          </li>
          <!-- <h3 class="feature-list-text">復習する</h3> -->
        <!-- </ul> -->
        <!-- <ul class="feature-lists"> -->
          <li class="list">
            <%= link_to image_tag("2550975_s.jpg", class:"list-pict") %>
            <h3 class="feature-list-text">できた！</h3>
          </li>
          <!-- <h3 class="feature-list-text">わかる！</h3> -->
        <!-- </ul> -->
        </ul>
      </div>

    <div class="under-layout">
      <div class="contents1">SERVICE CONTENTS
      </div>

      <div class="service-contents">
        <h3 class="quiz"><i class="fas fa-hand-pointer"></i> ひらめきクイズ (ひらめき + できた！）</h3>
        <ul class="quiz-lists">
          <li>
            <%= link_to 'どっちかな？', '/quiz', class: "quiz-list" %>
          </li>
          <li>
            <%= link_to 'なかまはずれをさがそう！', '/quiz2', class: "quiz-list" %>
          </li>
          <li>
            <%= link_to 'どうぶつをかぞえよう！', '/quiz3', class: "quiz-list" %>
          </li>
        </ul>
        
        <h3 class="print"><i class="fas fa-shapes print-icon"></i> じっくりプリント (じっくり + できた！)</h3>
        <ul class="print-lists">
          <li>
            <%# <a class="print-list" href="#">きまりの問題</a> %>
            <%= link_to 'つぎはなんだ？', '/regularity1.pdf', class: "print-list", target: :_blank %>
          </li>
          <li>
            <%# <a class="print-list" href="#">同じ重さにしよう</a> %>
            <%= link_to 'やさいもんだい', '/same_game.pdf', class: "print-list", target: :_blank %>
          </li>
          <li>
            <%# <a class="print-list" href="#">同じ重さにしよう</a> %>
            <%= link_to 'シーソーもんだい', '/seesaw1.pdf', class: "print-list",target: :_blank %>
          </li>
        </ul>
        <h3 class="information-ex"><i class="fas fa-comment information-ex-icon"></i> きょういくPOST (情報交換・共有）</h3>
          <% if user_signed_in? %>
            <%= link_to "新規投稿ページへ", new_post_path, class: "post-page" %>
          <% else %>
            <%= link_to "ログインしてください", new_user_session_path, class: "post-page" %>
          <% end %>
      </div>
    </div>
  </body>