<!DOCTYPE html>
<html>
  <head>
    <title>SmartClass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Corben:wght@700&display=swap" rel="stylesheet">
    <%#= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/70b62460f5.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <header class="top-page-header">
      <div class="smart-icon"><i class="far fa-smile smile"></i>Smart Class</div>
      <div class="nav">
        <ul class="list-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.name, "#", class: "user-name" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer class='footer'>
        <div class='footer-contents'>
          SMART CLASS 2021
          <%= link_to 'TOPページへ戻る', root_path, class: "footer-contents" %>
        </div>
    </footer>
  </body>
</html>
